@{
    ViewBag.Title = "导出统计报告";
    Form form = ViewBag.Form;
    List<Form> forms = ViewBag.Forms;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-upload"></i>@(ViewBag.Title)</h3>
    </div>
    <div class="panel-body">
        <form id="form-import" action="/excel/export" method="post" class="form-horizontal" target="_blank">
            <div class="modal-body">
                @if (form == null)
                {
                    <div class="form-group">
                        <label for="Type" class="control-label col-lg-3">选择表单</label>
                        <div class="col-lg-8">
                            <select class="form-control" name="formId">
                                @foreach (var item in forms)
                                {
                                    <option value="@(item.ID)">@(item.Name)</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" name="FormId" value="@(form.ID)" />
                }
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">选择年份</label>
                    <div class="col-lg-8">
                        @Html.Partial("_YearDropdown")
                    </div>
                </div>
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">选择季度</label>
                    <div class="col-lg-8">
                        @Html.Partial("_QuarterDropdown")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-8 col-lg-offset-3">
                    <button type="submit" id="" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
                </div>
            </div>
        </form>
    </div>
</div>
