@{
    Form form = ViewBag.Form;
    Node selectedNode = ViewBag.Node;
    ViewBag.Title = "统计图 - " + form.Name;
    NodeValueType valueType = ViewBag.ValueType;
    NodeValueParameter parameter = ViewBag.Parameter;
    List<NodeValue> nodeValues = ViewBag.NodeValues;
    List<NodeValue> childValues = ViewBag.ChildValues;
    List<NodeValue> quarterValues = ViewBag.QuarterValues;
    List<NodeValue> areaValues = ViewBag.AreaValues;
    List<Node> childNodes = ViewBag.ChildNodes;
}
<h2 class="page-header">
    @(ViewBag.Title)
</h2>
<form id="form-filter" action="/chart/" method="get" class="form-inline">
    <input type="hidden" name="formId" value="@(form.ID)" />
    <div class="input-group">
        <span class="input-group-addon">选择条件</span>
        <div class="input-group-btn">
            @Html.Action("NodeDropdown", "Chart", new { formId = form.ID, nodeId = parameter.NodeID })
            <select class="form-control" name="TypeId" id="ddl-typeId"></select>
            @Html.Partial("_YearDropdown", parameter.Year)
            @Html.Partial("_QuarterDropdown", parameter.Quarter)
            @Html.Action("Dropdown", "Area", new { AreaID = parameter.AreaID })
            @Html.Partial("_RateTypeDropdown", parameter.RateType)
            <button type="submit" class="btn btn-primary"><i class="fa fa-bar-chart-o"></i> 统计</button>
            <a class="btn btn-default" href="javascript:history.back()">
                <i class="fa fa-chevron-left"></i> 返回
            </a>
        </div>
    </div>
</form>
<div id="panel-node">

</div>
<div id="panel-quarter">

</div>
<div id="panel-area">

</div>
<script>
    $(function () {
        $("#form-filter select[name='NodeId']").change(function () {
            var val = $(this).val();
            $.request("/chart/GetNodeValueTypes?nodeid=" + val, null, function (json) {
                var html = "";
                $.each(json.data, function (k, v) {
                    html += "<option value=\"" + v.ID + "\">" + v.Name + "</option>";
                });
                $("#ddl-typeId").html(html);
            });
        }).trigger("change");

        $("#form-filter").submit(function () {
            var data = $(this).serialize();
            var action = $(this).attr("action");
            if (action.indexOf('?') == -1) {
                action = action + "?";
            }
            var href = action + "&" + data;
            $("#panel-node").load("/chart/nodechart?" + data);

            var years = $("#ddl-years").val() || 3;
            $("#panel-quarter").load("/chart/quarterchart?yearLength=" + years + "&" + data);
            $("#panel-area").load("/chart/areachart?" + data);
            return false;
        });

        setTimeout(function () {
            if ("@(parameter.NodeID)" == "0") {
                $("#form-filter").submit();
            }
        }, 1000);
    });
</script>
