@{
    List<Form> forms = ViewBag.Forms;
    ViewBag.Title = "统计图";
    NodeValueParameter parameter = ViewBag.Parameter;
    int[] years = ViewBag.Years;
}
<h2 class="page-header">
    @(ViewBag.Title)
</h2>
<div id="loading" class="alert alert-warning">
    正在计算，请稍等...
</div>
<form id="form-filter" action="/chart/" method="get" class="form-inline">
    <div class="input-group">
        <span class="input-group-addon">选择条件</span>
        <div class="input-group-btn">
            <select id="ddl-form" name="formId" class="form-control">
                <option value="0">选择报表</option>
                @if (forms != null)
                {
                    foreach (var f in forms)
                    {
                        <option value="@(f.ID)">@(f.Name)</option>
                    }
                }
            </select>
            <select id="ddl-node" name="NodeID" class="form-control"></select>
            <select id="ddl-year" name="Year" class="form-control"></select>
            <select id="ddl-quarters" name="Quarters" class="form-control">
                @foreach (Quarter val in Enum.GetValues(typeof(Quarter)))
                {
                    <option value="@((int)val)" @(val == parameter.Quarter ? "selected" : null)>@(val.GetDescription())</option>
                }
                <option value="1,2" @(string.Join(",", parameter.Quarters) == "1,2" ? "selected" : null)>上半年</option>
                <option value="1,2,3,4" @(string.Join(",", parameter.Quarters) == "1,2,3,4" ? "selected" : null)>全年</option>
            </select>
            @Html.Action("Dropdown", "Area", new { AreaID = parameter.AreaID })
            @Html.Partial("_RateTypeDropdown", parameter.RateType)
            <button type="submit" class="btn btn-primary"><i class="fa fa-bar-chart-o"></i> 统计</button>
        </div>
        &nbsp;
        <a id="btn-type-change" class="btn btn-success">切换单位</a>
        &nbsp;<a class="btn btn-default" href="javascript:history.back()">
            <i class="fa fa-chevron-left"></i> 返回
        </a>
    </div>
</form>
<div id="panel-node" class="row col-lg-12" style="margin-top:20px;">

</div>
<div id="panel-quarter" class="row col-lg-12">

</div>
<div id="panel-area" class="row col-lg-12">

</div>
<script>
    Chart.defaults.global.legend.position = 'bottom';
    var colors = ["#FF6384", "#4BC0C0", "#FFCE56", "#E7E9ED", "#36A2EB", "#F38630", "#E0E4CC", "#69D2E7", "#F7464A", "#E2EAE9", "#D4CCC5", "#949FB1", "#4D5360"];
    function getChartColors(len) {
        if (len >= colors.length) {
            return colors;
        }
        return colors.slice(0, len);
    }
    function getChartColor(i) {
        if (i >= colors.length) {
            return colors[i % colors.length];
        }
        return colors[i];
    }

    $(function () {

        $("#btn-type-change").click(function () {
            $(".node-value-type").each(function (k, v) {
                var self = $(v);
                var value = self.attr("data-value");
                if (!value) return;

                var units = self.attr("data-type-units").split(',');
                var ratio = parseInt(self.attr("data-type-ratio"));
                var unit = $(".unit", v).text();
                var currentIndex = 0;
                for (var i = 0; i < units.length; i++) {
                    if (units[i] == unit) {
                        currentIndex = i;
                        break;
                    }
                }
                var targetIndex = currentIndex + 1;
                if (targetIndex >= units.length)
                {
                    targetIndex -= units.length;
                }
                var targetValue = parseFloat( targetIndex == 0 ? value : (value / ratio * targetIndex));
                $(".value", self).text(targetValue.toFixed(2));
                $(".unit", self).text(units[targetIndex]);
            });
        });

        $("#ddl-form").change(function () {
            var formId = $(this).val();
            $.request("/node/getlist?formId=" + formId, function (json) {
                $("#ddl-node").html(json.data.length > 1?'<option value="0">请选择分类</option>':'');
                $.each(json.data, function (k, v) {
                    appendNode(v);
                });
            });
            $.request("/form/getyears?formId=" + formId, function (json) {
                $("#ddl-year").html('');
                $.each(json.data, function (k, v) {
                    $("#ddl-year").append("<option value='" + v + "'>" + v + "</option>");
                });
            });
            var ddlNode = $("#ddl-node");
            function appendNode(node, deepth) {
                deepth = deepth || 0;
                ddlNode.append("<option value='" + node.ID + "'>" + "-".repeat(deepth) + " " + node.Name + "</option>")
                if (node.Children.length > 0) {
                    $.each(node.Children, function (k, v) {
                        appendNode(v, deepth + 1);
                    })
                }
            }
        });

        $("#form-filter").submit(function () {
            var data = $(this).serialize();
            var action = $(this).attr("action");
            if (action.indexOf('?') == -1) {
                action = action + "?";
            }
            var href = action + "&" + data;


            $("#loading").show();
            var nodeChartCompleted = false;
            var quarterChartCompleted = false;
            var areaChartCompleted = false;

            function hideLoading() {
                if (nodeChartCompleted && quarterChartCompleted && areaChartCompleted) {
                    $("#loading").hide();
                }
            }

            $("#panel-node").load("/chart/nodechart?" + data, function () {
                nodeChartCompleted = true;
                hideLoading();
            });

            var years = $("#ddl-years").val() || 3;
            var formId = $("#ddl-form").val();
            $("#panel-quarter").load("/chart/quarterchart?formId=" + formId + "&" + data, function () {
                quarterChartCompleted = true;
                hideLoading();
            });
            $("#panel-area").load("/chart/areachart?" + data, function () {
                areaChartCompleted = true;
                hideLoading();
            });
            return false;
        });
    });
</script>
