@{
    ViewBag.Title = "编辑分类值";
    Node node = ViewBag.Node;
    NodeValue model = ViewBag.Model;
}
<form id="form-area" action="/node/savevalue?id=@(model.ID)" method="post" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-pencil"></i> @(ViewBag.Title)</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" name="NodeID" value="@(model.NodeID)" />
        <div class="form-group">
            <label for="Type" class="control-label col-lg-3">选择年度</label>
            <div class="col-lg-8">
                @Html.Partial("_YearDropdown", model.Year)
            </div>
        </div>
        <div class="form-group">
            <label for="Type" class="control-label col-lg-3">选择季度</label>
            <div class="col-lg-8">
                @Html.Partial("_QuarterDropdown", model.Quarter)
            </div>
        </div>
        <div class="form-group">
            <label for="Type" class="control-label col-lg-3">选择地区</label>
            <div class="col-lg-8">
                @Html.Action("Dropdown", "Area", new { model.AreaID })
            </div>
        </div>
        <div class="form-group">
            <label for="Type" class="control-label col-lg-3">选择类型</label>
            <div class="col-lg-8">
                @Html.Action("ValueTypeDropdown", "Node", new { model.TypeID, node.FormID })
            </div>
        </div>
        <div class="form-group">
            <label for="Type" class="control-label col-lg-3">记录</label>
            <div class="col-lg-8">
                <input type="text" name="Value" class="form-control" value="@(model.Value)" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-lg-8 col-lg-offset-3">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#form-area").registerSubmit(function () {
            $.closeWindow();
            $.loadMain();
        });
    });
</script>
