@{
    Form form = ViewBag.Form;
    List<Node> root = ViewBag.Nodes;
    Season season = ViewBag.Season;
    Season nearSeason = ViewBag.NearSeason;
    UserIdentity identity = ViewBag.CurrentIdentity;
}

@if (identity.Role <= UserRole.Advanced && season != null)
{
    <div class="alert alert-warning" role="alert">
        当前系统正在填报：@(season.Year)年@(season.Quarter.GetDescription())数据。
        填报时间段：@(season.StartTime.ToString("yyyy-MM-dd")) ~ @(season.EndTime.ToString("yyyy-MM-dd"))
        <button id="btn-submit" class="btn btn-primary">
            <i class="fa fa-save"></i> 保存数据
        </button>
    </div>
}

<div id="loading" class="alert alert-warning">加载完毕</div>
<h3 class="page-header">
    @(form.Name)-记录管理
</h3>
<form id="form-filter" action="/node/GetNodeValues" method="get" class="form-inline">
    <input type="hidden" name="formId" value="@(form.ID)" />
    <div class="input-group">
        <div class="input-group-btn">
            @if (identity.Role > UserRole.Advanced)
            {
                Html.RenderPartial("_YearDropdown", season == null ? default(int?) : season.Year);
                Html.RenderPartial("_QuarterDropdown", season == null ? default(Quarter?) : season.Quarter);
            }
            else
            {
                <input type="hidden" name="Year" value="@(season == null ? default(int?) : season.Year)" />
                <input type="hidden" name="Quarter" value="@(season == null ? default(Quarter?) : season.Quarter)" title="@(season==null?"": season.Quarter.GetDescription())" />
            }
            @Html.Action("Dropdown", "Area", new { editValue = true,Limit=true })
            <button type="submit" class="btn btn-primary" id="btn-load"><i class="fa fa-circle-o-notch"></i> @(identity.Role > UserRole.City ? "加载数据" : "切换地区")</button>
        </div>&nbsp;
        @if (identity.Role > UserRole.Advanced)
        {
            <button id="btn-submit" class="btn btn-primary">
            <i class="fa fa-save"></i> 保存数据
            </button>
        }
        &nbsp;
        <input type="hidden" id="type-unit-index" value="0" />
        <a id="btn-type-change" class="btn btn-success">切换单位</a>
        &nbsp;<a id="btn-back" class="btn btn-default" href="javascript:history.back()">
            <i class="fa fa-chevron-left"></i> 返回
        </a>
    </div>
</form>

<table class="table table-hover" id="list-node-values">
    <thead>
        <tr>
            <th>
                分类
            </th>
            <td>
                数值
            </td>
        </tr>
    </thead>
    @foreach (var node in root)
    {
        Html.RenderPartial("_NodeValueListItem", node);
    }
</table>
<script>
    $(function () {
        $("#btn-back").click(function () {
            if (confirm("填写的信息尚未保存，你确定要离开吗？")) {
                history.back();
            }
        });

        if ($("#form-filter select[name='areaId'] option").length == 1) {
            $("#form-filter select[name='areaId']").hide();
            $("#btn-load").hide();
        }

        $("#btn-type-change").click(function () {
            $(".node-value-type").each(function () {
                var self = $(this);
                var units = self.attr("data-type-units").split(',');
                var ratio = self.attr("data-type-ratio");
                var name = self.attr("data-type-name");
                var nodeValue = $(".node-value", self.parent()).eq(0);
                var unitIndex = parseInt(nodeValue.attr("unit-index") || 0);

                var targetUnitIndex = Math.abs(units.length - (unitIndex + 1));
                if (targetUnitIndex != unitIndex) {
                    var targetUnit = units[targetUnitIndex];
                    self.html(name + "（" + targetUnit + "）");
                    var val = parseFloat(nodeValue.val() || 0);
                    var targetVal = targetUnitIndex > unitIndex ? val / ratio : val * ratio;
                    nodeValue.val(targetVal ? targetVal : "");
                    nodeValue.attr("unit-index", targetUnitIndex);
                }
            });
        });

        $("#form-filter").submit(function () {
            $("#loading").text("正在加载").show();
            var data = $(this).serialize();
            var action = $(this).attr("action");
            $.request(action, data, function (json) {
                $(".node-value").val('');
                $.each(json.data, function (k, v) {
                    updateNodeValue(v);
                });
            });
            var year = $("#form-filter [name='Year']").val();
            var quarter = $("#form-filter [name='Quarter']").val();
            $.request("/node/canedit?year=" + year + "&quarter=" + quarter, function (result) {
                if (!result) {
                    $("#btn-submit").hide();
                    $(".node-value").attr("readonly", true);
                }
                else {
                    $("#btn-submit").show();
                    $(".node-value").removeAttr("readonly");
                }
                $("#loading").text("加载完毕");
                setTimeout(function () {
                    $("#loading").hide();
                }, 1000);
            });
            return false;
        });

        $("#btn-load").click();

        function updateNodeValue(val) {
            var rowId = "#node-item-" + val.NodeID;
            var control = $("#node-value-" + val.TypeID, rowId)

            control.val(val.Value || 0);
            control.attr("valueId", val.ID);
        }

        $("#btn-submit").click(function () {
            var data = [];
            var year = $("#form-filter [name='Year']").val();
            var quarter = $("#form-filter [name='Quarter']").val();
            var quarterText = $("#form-filter [name='Quarter']").attr("title") || $("select[name='Quarter'] option:selected").text();
            var areaId = $("#form-filter select[name='areaId']").eq(0).val();
            var areaText = areaId == 0 ? "舟山市" : $("#form-filter select[name='areaId'] option:selected").text().replace(/\s|\n|-|\r/g, "");

            $("#list-node-values .node-value").each(function (k, v) {
                var control = $(v);
                var val = control.val();
                if (!val) return;

                var nodeId = control.attr("nodeId");
                if (nodeId == 0) {
                    return;
                }
                var typeId = control.attr("typeId");
                if (typeId == 0) {
                    return;
                }
                var unitIndex = parseInt(control.attr("unit-index") || 0);
                if (unitIndex > 0) {
                    var ratio = parseInt($(".node-value-type").attr("data-type-ratio"));
                    val = val / Math.pow(ratio, unitIndex);
                }
                data.push({
                    ID: control.attr("valueId") || 0,
                    Year: year,
                    Quarter: quarter,
                    AreaID: areaId,
                    NodeID: nodeId,
                    TypeID: typeId,
                    Value: val
                });

            });

            var json = JSON.stringify(data);
            $.request("/node/SaveValues?formId=@(form.ID)&year=" + year + "&quarter=" + quarter + "&areaId=" + areaId, "data=" + encodeURIComponent(json), function () {
                alert(year + "年" + quarterText + areaText + "的数据保存成功");
            });
        });
    });
</script>