@{
    ViewBag.Title = "编辑分类值";
    NodeValue model = ViewBag.Model;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i>@(ViewBag.Title)</h3>
    </div>
    <div class="panel-body">
        <form id="form-area" action="/node/savevalue?id=@(model.ID)" method="post" class="form-horizontal">
            <div class="modal-body">
                <input type="hidden" name="NodeID" value="@(model.NodeID)" />
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">选择年度</label>
                    <div class="col-lg-8">
                        @Html.Partial("_YearDropdown", model.Year)
                    </div>
                </div>
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">选择季度</label>
                    <div class="col-lg-8">
                        @Html.Partial("_SeasonDropdown", model.TimeID)
                    </div>
                </div>
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">选择地区</label>
                    <div class="col-lg-8">
                        @Html.Action("Dropdown", "Area", new { model.AreaID })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">选择类型</label>
                    <div class="col-lg-8">
                        @Html.Action("ValueTypeDropdown", "Node", new { model.TypeID })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Type" class="control-label col-lg-3">数值</label>
                    <div class="col-lg-8">
                        <input type="text" name="Value" class="form-control" value="@(model.Value)" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-8 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#form-area").registerSubmit(function () {
            $.closeWindow();
            $.refreshMain();
        });
    });
</script>
