@{
    Node node = ViewBag.Model;
    ViewBag.Title = "分类数值 - " + node.Name;
    NodeValueParameter parameter = ViewBag.Parameter;
}
<h2 class="page-header">
    @(ViewBag.Title)
</h2>
<form id="form-filter" action="/node/values?nodeId=@(node.ID)" method="get" class="form-inline">
    <div class="input-group">
        <div class="input-group-btn">
            @Html.Partial("_YearDropdown", parameter.Year)
            @Html.Partial("_QuarterDropdown", parameter.Quarter)
            @Html.Action("Dropdown", "Area", new { AreaID = parameter.AreaID })
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-filter"></i> 过滤</button>
            <a class="btn btn-success" href="/node/editvalue?nodeId=@(node.ID)" data-toggle="modal" data-target="#modal">
                <i class="glyphicon glyphicon-plus"></i>添加数值
            </a>
            <a class="btn btn-default" href="/node/?formId=@(node.FormID)">
                <i class="fa fa-chevron-left"></i> 返回
            </a>
        </div>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>年度</th>
            <th>季度</th>
            <th>地区</th>
            <th>类型</th>
            <th>数值</th>
            <th style="width:150px;">操作</th>
        </tr>
    </thead>
    @foreach (var item in node.Values)
    {
        <tr>
            <td>@(item.Year)</td>
            <td>@(item.Quarter.GetDescription())</td>
            <td>@(item.Area == null ? "" : item.Area.Name)</td>
            <td>@(item.Type.Name)</td>
            <td>@(item.Value)</td>
            <td>
                <a href="/node/editvalue?valueId=@(item.ID)" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal" title="编辑"><i class="fa fa-edit"></i> 编辑</a>
                <a href="/node/deletevalue?valueId=@(item.ID)" class="btn btn-danger btn-xs" title="删除" data-target="#delete"><i class="fa fa-trash-o"></i> 删除</a>
            </td>
        </tr>
    }
</table>

<script>
    $(function () {
        $("#form-filter").submit(function () {
            var data = $(this).serialize();
            var action = $(this).attr("action");
            if (action.indexOf('?') == -1) {
                action = action + "?";
            }
            $.loadMain(action + "&" + data);
            return false;
        });
    });
</script>