@{
    ViewBag.Title = "导出统计数据";
    Form form = ViewBag.Form;
    List<Form> forms = ViewBag.Forms;
}
<form id="form-import" action="/data/ExportStatistic" method="post" class="form-horizontal" target="_blank">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-upload"></i> @(ViewBag.Title)</h4>
    </div>
    <div class="modal-body">
        @if (form == null)
        {
            <div class="form-group">
                <label class="control-label col-md-3">选择表单</label>
                <div class="col-md-8">
                    @Html.Partial("_FormDropdown", forms)
                </div>
            </div>
        }
        else
        {
            <input type="hidden" name="FormId" value="@(form.ID)" />
        }
        <div class="form-group">
            <label class="control-label col-md-3">选择年份</label>
            <div class="col-md-8">
                @Html.Partial("_YearDropdown")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">选择季度</label>
            <div class="col-md-8">
                <select name="Quarter" class="form-control">
                    @foreach(Quarter val in Enum.GetValues(typeof(Quarter)))
                    {
                        <option value="@(val)">@(val.GetDescription())</option>
                    }
                </select>
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-md-3">选择地区</label>
            <div class="col-md-8">
                @Html.Action("Dropdown","Area")
                <span class="help-block">
                    如果选择区域，请选择区域专用的导出模板
                </span>
            </div>
        </div>*@
    </div>
    <div class="modal-footer">
        <div class="col-md-8 col-md-offset-3">
            <button type="submit" id="" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
        </div>
    </div>
</form>
