@{
    ViewBag.Title = "类型管理";
    List<NodeValueType> list = ViewBag.List;
}
<h2 class="page-header">
    @(ViewBag.Title)
    <a class="btn btn-success" href="/valuetype/edit" data-toggle="modal" data-target="#modal">
        <i class="glyphicon glyphicon-plus"></i>添加类型
    </a>
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:60px;">ID</th>
            <th>名称</th>
            <th>单位</th>
            <th>比率</th>
            <th style="width:90px;">操作</th>
        </tr>
    </thead>
    @foreach (var item in list)
    {
        <tr>
            <td>@(item.ID)</td>
            <td>@(item.Name)</td>
            <td>@(item.Units)</td>
            <td>@(item.Ratio)</td>
            <td>
                <a href="/valuetype/edit?id=@(item.ID)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal" title="编辑"><i class="fa fa-edit"></i></a>
                <a href="/valuetype/delete?id=@(item.ID)" class="btn btn-danger btn-xs btn-confirm"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    }
</table>