@{
    ViewBag.Title = "";
    Dossier dossier = ViewBag.Dossier;
}
<form id="form-pdf" action="/Archive/Import" method="post" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-plus"></i>调控档案上传</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" role="alert" id="alert-pdf">
            <span></span>
        </div>
        <input type="hidden" name="ID" value="@(dossier!=null?dossier.ID:0)" />
        <div class="form-group">
            <label for="" class="control-label col-md-3">选择年份</label>
            <div class="col-md-8">
                @(dossier!=null?Html.Partial("_YearDropdown",dossier.Year):Html.Partial("_YearDropdown"))
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">选择季度</label>
            <div class="col-md-8">
                @(dossier!=null?Html.Partial("_QuarterDropdown",dossier.Quarter):Html.Partial("_QuarterDropdown"))
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">备注</label>
            <div class="col-md-8">
                <textarea name="Remark" class="form-control" rows="4">@(dossier!=null?dossier.Remark:"")</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">选择文件</label>
            <div class="col-md-8">
                <input type="file" name="file" class="form-control" id="filepdf" />       
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">已选择文件</label>
            <div class="col-md-8">
                <div id="File-List">
                    @if (dossier != null && dossier.Files != null)
                    {
                        foreach (var file in dossier.Files)
                        {
                            <div class="input-group" style="margin:2px;">
                                <input type="text" name="FileName" class="form-control" readonly="readonly" value="@(file.FileName)" />
                                <input type="hidden" name="FilePath" value="@(file.FilePath)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger btn-remove"><i class="glyphicon glyphicon-remove-circle"></i></button>
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-8 col-md-offset-3">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>确定</button>
        </div>
    </div>
</form>


<div class="hide">
    <div id="SelectFile">
        <div class="input-group" style="margin:2px;">
            <input type="text" name="FileName" class="form-control" readonly="readonly" value="{FileName}" />
            <input type="hidden" name="FilePath" value="{FilePath}" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger btn-remove"><i class="glyphicon glyphicon-remove-circle"></i></button>
            </span>
            
        </div>
    </div>
   
</div>

<script>
    $("#alert-pdf").hide();
    var fileHtml = $("#SelectFile").html();
    $(function () {

        $(".input-group-btn>.btn-remove").click(function () {
            $(this).parent().parent().remove();
        });

        $("#filepdf").setUpload("/Archive/Upload", function (json) {
            var appendHtml = fileHtml;
            appendHtml = appendHtml.replace("{FilePath}", json.data.filePath).replace("{FileName}", json.data.fileName);
            $("#File-List").append(appendHtml);

            $(".input-group-btn>.btn-remove").unbind("click").bind("click", function () {
                $(this).parent().parent().remove();
            });
        });

        $("#form-pdf").submit(function () {
            var enctype = $(this).attr("enctype");
            if (enctype == "multipart/form-data") {
                return;
            }
            var data = $(this).serialize();
            $.request("/Archive/Import", data, function (json) {
                if (json.result == 0) {
                    console.log("0");
                    $("#alert-pdf>span").html(json.message);
                } else if (json.result == 1)
                {
                    console.log("1");
                    $("#alert-pdf>span").html("导入成功！");
                }
                $("#alert-pdf").show(500);
                return false;
            });
            return false;
        });

    })
</script>
