@{
    User model = ViewBag.Model;
    var isAdd = model.ID == 0;
    ViewBag.Title = isAdd ? "添加用户" : "修改用户";
    List<Area> Areas = ViewBag.Areas;
}
<form id="form-user" action="/User/edit?id=@(model.ID)" method="post" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-@(isAdd?"plus":"pencil")"></i> @(ViewBag.Title)</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-lg-3">用户角色</label>
            <div class="col-lg-8">
                <select name="Role" class="form-control">
                    <option value="@(UserRole.Branch)" @(model.Role==UserRole.Branch?"selected":null)>@(UserRole.Branch.GetDescription())</option>
                    <option value="@(UserRole.City)" @(model.Role == UserRole.City ? "selected" : null)>@(UserRole.City.GetDescription())</option>
                    <option value="@(UserRole.Advanced)" @(model.Role == UserRole.Advanced ? "selected" : null)>@(UserRole.Advanced.GetDescription())</option>
                    <option value="@(UserRole.Administrator)" @(model.Role == UserRole.Administrator ? "selected" : null)>@(UserRole.Administrator.GetDescription())</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">用户名</label>
            <div class="col-lg-8">
                <input type="text" name="Username" class="form-control" value="@(model.Username)" />
            </div>
        </div>
        <div class="form-group">
            <label for="Specification" class="control-label col-lg-3">真实姓名</label>
            <div class="col-lg-8">
                <input type="text" name="Name" class="form-control" value="@(model.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label for="Number" class="control-label col-lg-3">密码</label>
            <div class="col-lg-8">
                <input type="password" name="Password" class="form-control" />
                @if (!isAdd)
                {
                    <span class="help-block">不修改密码请不要填写</span>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="Area" class="control-label col-lg-3">区域选择</label>
            <div class="col-lg-8">
                @foreach(var area in Areas)
                {
                    if (area.Name == "市本级")
                    {
                        continue;
                    }
                    <label class="radio-inline">
                        <input type="radio" name="AreaID" value="@(area.ID)" @(model.Role==UserRole.Branch&&model.AreaID.HasValue&&model.AreaID.Value==area.ID?"checked=checked":"") />@(area.Name)
                    </label>
                }
                <span class="help-block">分局用户，请选择区域！</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-lg-8 col-lg-offset-3">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#form-user").setForm(function () {
            $.closeWindow();
            $.loadMain();
        });
    });
</script>
