@using LoowooTech.Land.Zhoushan.Common
@{
    User model = ViewBag.Model;
    var isAdd = model.ID == 0;
    ViewBag.Title = isAdd ? "添加用户" : "修改用户";
    List<Area> Areas = ViewBag.Areas;
    List<Form> Forms = ViewBag.Forms;
    UserIdentity user = ViewBag.CurrentIdentity;
    var cityString = System.Configuration.ConfigurationManager.AppSettings["CITY"].ToString();
}
<form id="form-user" action="/User/edit?id=@(model.ID)" method="post" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-@(isAdd?"plus":"pencil")"></i> @(ViewBag.Title)</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" role="alert" id="user-alert" style="display:none">
            <span>警告框</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">用户角色</label>
            <div class="col-md-8">
                <select name="Role" class="form-control">
                    @foreach (UserRole role in Enum.GetValues(typeof(UserRole)))
                    {
                        if (user.Role >= role)
                        {
                            <option value="@(role)" @(model.Role == role ? "selected" : "")>@(role.GetDescription())</option>
                        }
                    }
                    @*<option value="@(UserRole.Branch)" @(model.Role == UserRole.Branch ? "selected" : null)>@(UserRole.Branch.GetDescription())</option>
                        <option value="@(UserRole.City)" @(model.Role == UserRole.City ? "selected" : null)>@(UserRole.City.GetDescription())</option>
                        <option value="@(UserRole.Advanced)" @(model.Role == UserRole.Advanced ? "selected" : null)>@(UserRole.Advanced.GetDescription())</option>
                        <option value="@(UserRole.Administrator)" @(model.Role == UserRole.Administrator ? "selected" : null)>@(UserRole.Administrator.GetDescription())</option>*@
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">用户名</label>
            <div class="col-md-8">
                <input type="text" name="Username" class="form-control" value="@(model.Username)" />
            </div>
        </div>
        <div class="form-group">
            <label for="Specification" class="control-label col-md-3">真实姓名</label>
            <div class="col-md-8">
                <input type="text" name="Name" class="form-control" value="@(model.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label for="Number" class="control-label col-md-3">密码</label>
            <div class="col-md-8">
                <input type="password" name="Password" class="form-control" />
                @if (!isAdd)
                {
                    <span class="help-block">不修改密码请不要填写</span>
                }
            </div>
        </div>
        <div id="Data" style="display:@(model.Role>UserRole.Advanced?"none":"block")">
            <div class="form-group">
                <label for="" class="control-label col-md-3">填报类型</label>
                <div class="col-md-8">
                    <div>
                        <button type="button" id="btn-select">全选/反选</button>
                    </div>
                    @foreach (var form in Forms.Where(e => !e.Disabled))
                    {
                        var isChecked = model.FormIds.Contains(form.ID);
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <label>
                                <input type="checkbox" name="FormsIds" value="@(form.ID)" @(isChecked ? "checked" : "") />@(form.Name)
                            </label>
                        </div>
                    }
                    <script>
                        $(function () {
                            $("#btn-select").on('click', function () {
                                $("input[name='FormsIds']").each(function () {
                                    this.checked = !this.checked;
                                });
                            })
                        })
                    </script>
                </div>
            </div>
        </div>
        <div id="Region" style="display:@(model.Role>UserRole.Branch?"none":"block")">
            <div class="form-group">
                <label for="Area" class="control-label col-md-3">区域选择</label>
                <div class="col-md-8 checkbox">
                    @foreach (var area in Areas)
                    {
                        if (area.Name == cityString)
                        {
                            continue;
                        }
                        var isChecked = model.AreaIds.Contains(area.ID);
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            <label>
                                <input type="checkbox" name="AreaIdsValue" value="@(area.ID)" @(isChecked ? "checked" : "") />@(area.Name)
                            </label>
                        </div>

                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="col-md-8 col-md-offset-3">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("Select[name='Role']").change(function () {
            var val = $(this).val();
            if (val == "Branch") {
                $("#Data").show(500);
                $("#Region").show(500);
            } else if (val == "City" || val == "Advanced") {
                $("#Data").show(500);
                $("#Region").hide(500);
            }
            else {
                $("#Data").hide(500);
                $("#Region").hide(500);
            }
        });

        $("#form-user").on("submit", function () {
            var data = $(this).serialize();
            $.post(this.action, data, function () {
                $.closeModal();
                $.reloadPage();
            });
            return false;
        });
    });
</script>
