@{
    ViewBag.Title = "用户管理";
    List<User> list = ViewBag.List;
    UserIdentity user = ViewBag.CurrentIdentity;
}
<h2 class="page-header">
    @(ViewBag.Title)
    <a class="btn btn-success" href="/User/edit" data-toggle="modal" data-target="#modal">
        <i class="glyphicon glyphicon-plus"></i>添加用户
    </a>
</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>角色</th>
            <th>最后登录</th>
            <th>操作</th>
        </tr>
    </thead>
    @foreach (var item in list)
    {
        <tr>
            <td>@(item.Username)</td>
            <td>@(item.Name)</td>
            <td>@(item.Role.GetDescription())</td>
            <td>@(item.LastLoginTime.HasValue ? item.LastLoginTime.Value.ToString() : null)</td>
            <td style="width:80px;">
                <a href="/User/edit?id=@(item.ID)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal" title="编辑"><i class="fa fa-edit"></i></a>
                <a href="/User/delete?id=@(item.ID)" class="btn btn-danger btn-xs" title="删除" data-target="#delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    }
</table>
@Html.Partial("_Page", ViewBag.Page as object)